@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust width for vertical scrollbar */
  height: 8px; /* Adjust height for horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(251 146 60); /* Darker thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color of the track */
  border-radius: 10px; /* Rounded corners for the track */
}
